{{template "main" .}}
{{ define "title" }} Register {{end}}
{{ define "content" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <h1 class="h3 mb-3 fw-normal text-center">Verification status</h1>
                        <hr>   
                        <h5 class="text-success text-center">Email verified successfully</h5>
                        
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}